body {
    background-color: rgb(61, 197, 255);
    background-image: url(./Rectangle108.png);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 250px;
    margin: 13px;
    padding: 7px;
}

#logo {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;
}

#q {
    color: black;
    font-size: 48px;
    font-weight: 800;
    word-wrap: break-word;
}

#uiz {
    color: white;
    font-size: 48px;
    font-weight: 800;
    word-wrap: break-word;
}

#Name
{
    font-size: large;
}

/* Admin access*/
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;
    top: 89px;
    color: black;
}

#color
{
    color:black;
    font-size: x-large;
}

input {
    width: 400px;
    height: 30px;
    margin: 60px;
    padding: 20px;
    background-color: #71d0fa;
    border: none;
    color: black;
    border-radius: 10px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

#start
{
    width: 200px;
    height: 50px;
    background-color: dodgerblue;
    border: 5px #71d0fa solid;
    border-radius: 20px;
    font-size: larger;
    color: white;
}

.leaderboard_container {
    background-color: #3DC5FF;
    height: 100vh;
}

.gradient_container {
    height: 355px;
    border-radius: 500px 462px 0px 0px;
    background: linear-gradient(180deg, #1F83F8 14.1%, rgba(251, 251, 255, 0.00) 100%);
    justify-content: center;
}

.title {
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: normal;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.leaderboard_track_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.leaderboard_tracker {
    background: linear-gradient(#1F83F8, #ffff);
    height: 450px;
    width: 650px;
    margin-top: 100px;
    border-radius: 20px; 
    display: flex;
    justify-content: center;
}

.score_container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 42rem;
    flex-direction: column;

}

.score_sub_container {
    background-color: #ffff;
    height: 60px;
    width: 650px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;

}

.vector_container {
    width: 400px;
    position: relative;
}

.winner_crown {
    height: 40px;
    width: 40px;
    position: absolute;
}

.Ellipse-one {
    height: 40px;
    width: 40px;
    position: absolute;
    margin-top: 54px;
}

.crown_container {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
}

.winner-label {
    margin-top: 85px;
}


.crown_silver_container {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
    margin-top: 120px;
}

.crown_bronze_container {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
    margin-top: 250px;
}

.semicircle
{  
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    width: 223px;
    height: 223px;
    right: -61px;
    margin-top: 10px;
    background: linear-gradient(rgb(26,121,208), 
    rgb(24,161,244));
}

.leftcircle
{
    padding: 5px;
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    width: 170px;
    height: 170px;
    left: -42px;
    margin-top: 167px;
    opacity: 0.7;
    background-color: rgb(61, 197, 255);

}

.rightcircle
{
    background: deepskyblue;
    position: absolute;
    border-radius: 51%;
    display: inline-block;
    width: 150px;
    height: 150px;
    right: 71px;
    bottom: 68px;
    opacity: 0.7;
}